<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/registration.css">
    <title> Todo App</title>

</head>

<body>
    
    <div id="registration-box">
        <div id="registration-form">

            <div id="heading">
                <h1> Registrati <span> oppure <a href="http://localhost:8080/"> Accedi </a></span> </h1>
                
            </div>
            

            <form>

                <label for="username"> Username: </label>
                <input type="text" id="username" name="username" placeholder="Inserisci l'username" required>

                <label for="email"> Email: </label>
                <input type="text" id="email" name="email" placeholder="Inserisci l'email" required>

                <label for="password"> Password: </label>
                <input type="password" id="password" name="password" placeholder="Inserisci la password" required>    

                <br>
                <br>

                <button id="registrationButton"> Registrati </button>
            </form>
        </div>
    </div>

    <script src="/js/registration.js"></script>
</body>
</html>