<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/style/taskView.css" />
		<title> Todo App </title>

	</head>
	<body>

		<div id="task-box">
			<div id="task-form">
				<h1> View your task </h1>

				<h2> Title </h2>

				<p> {{title}} </p>

				<h2> Description </h2>

				<p> {{description}} </p>

				<div id="buttons">
					<button id="backButton">
						Indietro
					</button>
					<button id="completeButton"> Completa </button>
				</div>
			</div>
		</div>

		<script src="/js/taskView.js"></script>
	</body>
</html>