<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/style/userPanel.css" />
		<title> Todo App </title>

	</head>
	<body>

		<div id="task-box">
			<div id="task-form">

				<div id="title">
					<h1> View your task </h1>
					<button id="editUser">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							x="0px"
							y="0px"
							width="24"
							height="24"
							viewBox="0 0 172 172"
							style=" fill:#000000;"
						><g
								fill="none"
								fill-rule="nonzero"
								stroke="none"
								stroke-width="1"
								stroke-linecap="butt"
								stroke-linejoin="miter"
								stroke-miterlimit="10"
								stroke-dasharray=""
								stroke-dashoffset="0"
								font-family="none"
								font-weight="none"
								font-size="none"
								text-anchor="none"
								style="mix-blend-mode: normal"
							><path
									d="M0,172v-172h172v172z"
									fill="none"
								></path><g fill="#9b59b6"><path
										d="M121.38542,7.61458l-93.61458,93.61458l-20.07227,63.07226l63.07227,-20.07226l93.61458,-93.61458c0,0 -0.71667,-15.05717 -14.33333,-28.66667c-13.61667,-13.61667 -28.66667,-14.33333 -28.66667,-14.33333zM124.07292,19.26042c7.68267,1.462 13.7993,4.71645 18.51855,9.56022c4.71925,4.84377 8.04111,11.27686 10.14811,19.10645l-12.98958,12.98958l-28.66667,-28.66667l10.30208,-10.30208zM35.67936,108.40983c0.08473,0.02134 8.61749,2.17868 17.1748,10.736c9.31667,8.6 10.75,16.48893 10.75,16.48893l0.30794,0.36393l-25.43327,8.18848l-10.722,-10.72201z"
									></path></g></g></svg>
					</button>
				</div>

				<div id="informations">
					<h2> Username: </h2>

					<p id="username"> {{username}} </p>

					<h2> Email: </h2>

					<p id="email"> {{email}} </p>
				</div>

				<div id="buttons">
					<button id="backButton">
						Indietro
					</button>
					<button id="reviseButton"> Modifica </button>
				</div>
			</div>
		</div>

		<script src="/js/userPanel.js"></script>
	</body>
</html>