@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html {
	font-size: 16px;
}

body {
	overflow: hidden;
	font-family: "Noto Sans", sans-serif;
	background-color: rgb(105, 40, 179);
}

#heading {
	text-align: center;
}

form {
	padding: 16px 25px 25px 25px;
}

label {
	display: block;
	padding-bottom: 8px;
	font-size: 16px;
}

input {
	border: 1px solid #eeeeee;
	border-radius: 4px;
	outline: none;
	font-size: 14px;
	padding: 8px;
	margin-bottom: 16px;
	width: 100%;
	box-shadow: 0px 0px 15px 0px rgb(221, 210, 210);
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 10px 4px rgb(221, 210, 210);
}

button {
	border-radius: 8px;
	width: 100%;
	border: none;
	padding: 8px;
	background: rgb(140, 66, 224);
	color: #eee5e5;
	font-size: 16px;
	box-shadow: 0px 0px 8px 6px rgb(221, 210, 210);
}

button:disabled {
	background-color: rgb(172, 146, 202);
	box-shadow: none;
}

span {
	display: block;
	font-size: 12px;
	font-weight: normal;
}

#heading a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(105, 40, 179);
}

#heading a:hover {
	font-weight: normal;
}

#registration-box {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#registration-form {
	background: #f7f7fa;
	border: none;
	border-radius: 8px;
	width: 300px;
	box-shadow: 0px 0px 15px 1px rgb(54, 35, 65);
}

.validEmail {
	border: 1px solid rgb(6, 94, 6);
}

.validPassword {
	border: 1px solid rgb(6, 94, 6);
}

.invalidEmail {
	border: 1px solid rgb(129, 12, 12);
}

.invalidPassword {
	border: 1px solid rgb(129, 12, 12);
}

#err {
	font-size: 12px;
	color: red;
	text-align: left;
	font-weight: bold;
}
